apiVersion: monitoring.coreos.com/v1
kind: ServiceMonitor
metadata:
  name: backend-servicemonitor
  namespace: ecommerce
  labels:
    release: monitoring
spec:
  selector:
    matchLabels:
      app.kubernetes.io/name: dohelmoto
      component: backend
  namespaceSelector:
    matchNames:
      - ecommerce
  endpoints:
    - port: http
      path: /metrics
      interval: 15s

